h3{
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.button-options-cadastrar2{
    background-color:#31be22;
    padding: 0.5rem;
    border-radius: 5px;
    color: white;
}
.button-options-editar{
    background-color:#1c84b4;
    padding: 0.5rem;
    border-radius: 5px;
    color: white;
}
.button-options-view{
    background-color:#851cb4;
    padding: 0.5rem;
    border-radius: 5px;
    color: white;
}
.button-options-del{
    background-color:#be5522;
    padding: 0.5rem;
    border-radius: 5px;
    color: white;
}
.col{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}